\documentclass{article}

\begin{document}

\textbf{ {{ personal.name }} }

\section*{ {{ strings.summary_title }} }

\section*{ {{ strings.certifications_title }} }

\section*{ {{ strings.skills_title }} }

\section*{ {{ strings.experience_title }} }

\section*{ {{ strings.projects_title }} }

\section*{ {{ strings.education_title }} }

\section*{ {{ strings.publications_title }} }

\section*{ {{ strings.distinctions_title }} }

\end{document}